.container{
    text-align: center;
    width: 600px;
    margin: 4% auto;
}

@media only screen and (max-width: 700px) {
    .container{
        width: 500px;
    }
}

@media only screen and (max-width: 550px) {
    .container{
        width: 100%;
        position: relative;
    }

    .header{
        font-size: 25px;
    }

    .instructions_ctn {
        flex-flow: column;
    }

    .instruction_ctn{
        margin-top: 2%;
        width: 100%;
    }

    .instruction_ctn span {
        font-size: 14px;
    }

    .submit_input{
        width: 80%;
        height: 40px;
        font-size: 15px;
        margin-top: 5%;
    }

    .submit_btn{
        position: fixed;
        z-index: 999999;
        bottom: 0;
        width: 110%;
        transform: translateX(-88%);
        height: 60px;
        font-size: 22px;
        visibility: hidden;
    }

    .rides_data_ctn{
        margin: 2% auto;
        width: 86%;
        padding-left: 6px;
    }

    .ride_ctn{
        width: 46%;
    }

    .ticket_data_ctn {
        width: 220px;
    }

      .message_ctn {
        width: 80%;
    }
}

@media only screen and (max-width: 320px) {
    .header{
        font-size: 21px;
    }
}